* {
    margin: 0;
    padding: 0;
}

body{
    background: url('../image/chessBackground.jpg') top center no-repeat;
    background-size: cover;
}
.cent{
    float: left;
    width: 808px;
    margin-top: 20px;
    margin-left: 20px;
}
.userlist{
    float: right;
    margin-top: 20px;
    margin-right: 250px;
    width: 300px;
}

